
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body id="page-top">
	<center>
		<h3>View Orders</h3>
	</center>
	<div class="card-body" th:if="${not #lists.isEmpty(orders)}">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%"
				cellspacing="0">
				<thead>
					<tr>
						<th>Order ID</th>
						<th>Order Date</th>
						<th>Order Total</th>
						<th>Order Tax1</th>
						<th>Order Tax2</th>
						<th>Order TaxTotal</th>
						<th>Order FinalTotal</th>
						<th>Customer Code</th>
						<th> Invoice </th>
					</tr>
				</thead>
				<tbody>
					<tr class="info" th:each="order : ${orders}">
						<td th:text="${order.orderId}"></td>
						<td th:text="${order.orderDate}"></td>
						<td th:text="${order.orderTotal}"></td>
						<td th:text="${order.orderTax1}"></td>
						<td th:text="${order.orderTax1}"></td>
						<td th:text="${order.orderTaxTotal}"></td>
						<td th:text="${order.orderFinalTotal}"></td>
						<td th:text="${order.orderCustomerCode}"></td>
						<td><a th:href="@{/home/viewOrders/invoice/{id}(id=${order.orderId})}">Invoice</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

   <script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/jquery.dataTables.js"></script>
	<script src="js/dataTables.bootstrap4.js"></script>
	<script src="js/datatables-demo.js"></script>
	<script src="js/rc-pos.min.js"></script>
    
</body>
</html>
