<!doctype html>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>RC-POS - Product Brands</title>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/dataTables.bootstrap4.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">

</head>

<body>
	<div class="table table">
		<table cellpadding="0" cellspacing="0">
			<tr class="top">
				<td colspan="3">
					<table>
						<tr>
							<td>OrderDate: <span th:text="${order.orderDate}"> </span>
							</td>

						</tr>
						<tr>
							<td>Name: <span th:text="${customer.customerName}"></span>
							</td>
						</tr>
						<tr>
							<td>Phone: <span th:text="${customer.customerPhone}"
								style="text-align: centre"></span>
							</td>
						</tr>
						<td>Email: <span th:text="${customer.customerEmail}"
							style="text-align: right"></span></td>
					</table>
				</td>
			</tr>
			<tr class="heading">
				<th>Item Name</th>
				<th>Item Quantity</th>
				<th>Tax1</th>
				<th>Tax2</th>
				<th>Price</th>
			</tr>

			<tr class="details" th:each="orderSummary : ${orderSummaryList}">
				<td th:text="${orderSummary.itemName}"></td>
				<td th:text="${orderSummary.itemQuantity}"></td>
				<td th:text="${orderSummary.itemTotalTax1}"></td>
				<td th:text="${orderSummary.itemTotalTax2}"></td>
				<td th:text="${orderSummary.itemTotalPrice}"></td>
			</tr>
		</table>
		<div>
			<table>
				<tr>
					<td>Total Tax: <span th:text="${order.orderTaxTotal}"></span>
					</td>

				</tr>
				<tr>

					<td>Total (Tax exclusive) : <span
						th:text="${order.orderTotal}"></span>
					</td>
				</tr>
				<tr>
					<td>Final Total (Tax inclusive) : <span
						th:text="${order.orderFinalTotal}"></span>
					</td>
				</tr>

			</table>
      <a href="/home" class="btn btn-secondary" type="button">Home</a>
	</div>
</body>
</html>