<form action="#" th:action="@{/itemsListForPlaceOrder/add}" th:object="${orderCreation}"
  method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
                <tr>
                    <th> Items</th>
                    <th> Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="orderSummary, itemStat : *{orderSummaryList}">
                    <!-- <td><input th:field="*{orderSummaryList[__${itemStat.index}__].itemId}" /></td>
                    <td><input th:field="*{orderSummaryList[__${itemStat.index}__].itemQuantity}" /></td> -->
					<td><select name="week_scroll" th:field="*{orderSummaryList[__${itemStat.index}__].itemId}">
					<option th:value="default">Please select</option>
						<option th:each="item : ${items}" th:value="${item.itemId}"
							th:text="${item.itemName}" />
					</select></td>
					<td><select name="week_scroll" th:field="*{orderSummaryList[__${itemStat.index}__].itemQuantity}">
					<option th:value="default">Please select</option>
						<option th:each="n : ${#numbers.sequence(0,10)}" th:value="${n}"
							th:text="${n}" />
					</select></td>
				</tr>
            </tbody>
        </table>
    </fieldset>
</form>