<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Menu Page</title>
</head>
<body>
	<center>
		<h1>Menu Page</h1>
	</center>
	<form>
		<div th:if="${not #lists.isEmpty(items)}">
  <table>
    <tbody>
      <tr>
        <th>Item Id</th>
        <th>Item Name</th>
        <th>Item Category</th>
         <th>Item Price</th>
         <th>Item Tax1</th>
          <th>Item Tax2</th>
          <th>Item TaxTotal</th>
          <th>Item CreatedDate</th>
          <th>Item UpdatedDate</th>
      </tr>
      <tr th:each="item : ${items}">
        <td th:text="${item.itemId}"></td>
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.itemCategory}"></td>
        <td th:text="${item.itemPrice}"></td>
        <td th:text="${item.itemTax1}"></td>
        <td th:text="${item.itemTax2}"></td>
        <td th:text="${item.itemTaxTotal}"></td>
        <td th:text="${item.itemCreatedDate}"></td>
        <td th:text="${item.itemUpdatedDate}"></td>
      </tr>
    </tbody>
  </table>
</div>
	</form>
</body>
</html>
