<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Golden Bites Home</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body id="page-top">
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="#">Golden Bites</a>
    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">

        <li class="nav-item dropdown no-arrow ml-3"><a
                class="nav-link dropdown-toggle" href="#" id="userDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"> <i class="fa fa-user-circle fa-fw"></i>
        </a>
            <div class="dropdown-menu dropdown-menu-right"
                 aria-labelledby="userDropdown">
                <form method="post" th:action="@{/logout}">
                    <a class="dropdown-item">
                        <button type="submit">Logout</button>
                    </a></form>
            </div>
        </li>
    </ul>
</nav>
<div id="wrapper">
    <div id="content-wrapper">
        <div class="container-fluid">

<!--            <a href="/home/itemsListForPlaceOrder" class="btn btn-primary btn-lg btn-block">Place Order</a>-->
            <a href="/home/cart" class="btn btn-primary btn-lg btn-block">Place Order</a>
			<a href="/home/viewOrders" class="btn btn-secondary btn-lg btn-block">View Orders</a>
            <a href="/home/viewItems" class="btn btn-info btn-lg btn-block">Menu</a>
            <a href="home/viewItemCategory" class="btn btn-primary btn-lg btn-block">Item Category</a>
			<a href="/home/registerCustomer" class="btn btn-warning btn-lg btn-block">Customer Registration</a>
            <a href="/home/viewCustomer" class="btn btn-secondary btn-lg btn-block">View Customers</a>
			<a href="/home/registerUser" class="btn btn-primary btn-lg btn-block">User Registration</a>
			<a href="/home/viewUser" class="btn btn-info btn-lg btn-block">View Users</a>

        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top"> <i
            class="fa fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to
                        Leave?</h5>
                    <button class="close text-white" type="button"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are
                    ready to end your current session.
                </div>
                <div class="modal-footer">
                    <form method="post" th:action="@{/logout}">
                        <button class="btn btn-secondary" type="button"
                                data-dismiss="modal">Cancel
                        </button>
                        <a class="btn btn-danger" href="login.html">Logout</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/rc-pos.min.js"></script>
    <script src="js/chart-area-demo.js"></script>
</body>
</html>
