<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update Customer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>

<body>
	<form th:action="@{/home/viewCustomer/updateCustomer/{id}(id=${customer.customerId})}" th:object="${customer}"
		method="post">
		<!-- Add Product Modal-->

		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary text-white">
					<h5 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-tag"></i> Customer Update
					</h5>
				</div>
				<form class="">
					<div class="modal-body">
						<div class="form-group">
							<label for="">Customer Name</label> <input type="text"
								class="form-control" name="" value=""
								placeholder="Enter Customer Name" th:field="*{customerName}"
								required>
						</div>
						<div class="form-group">
							<label>Customer Email</label> <input type="text"
								class="form-control" name="" value=""
								placeholder="Enter Customer Email" th:field="*{customerEmail}"
								required>

						</div>
					<div class="form-group">
							<label for="">Customer Code</label> <input disabled type="text"
								class="form-control" name="" value=""
								placeholder="Enter Customer Code" th:field="*{customerCode}"
								required>
						</div> 
						<div class="form-group">
							<label for="">Customer Phone</label> <input type="tel"
								class="form-control" name="" value=""
								placeholder="Enter Customer Phone" th:field="*{customerPhone}"
								pattern="^\d{10}$"
								required>
						</div>

						<div class="modal-footer">
							<input type="submit" class="btn btn-primary" value="Update">
							<a href="/home" class="btn btn-success" type="button">Home</a>
						</div>
				</form>
			</div>
		</div>
		<!-- Add Product Type-->
	</form>
</body>

</html>