 <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>View Customers</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
  <body id="page-top">
    
	<center>
		<h3>View Customers</h3>
	</center>
              <div class="card-body" th:if="${not #lists.isEmpty(customers)}">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                       	<th>Customer Name</th>
						<th>Customer Email</th>
						<th>Customer Phone</th>
						<th>Customer code</th>
						<th>Customer Created Date</th>
						<th>Edit</th>
						<th>Delete</th>
						
                      </tr>
                    </thead>
                    <tbody>
                      <tr class = "info" th:each="customer : ${customers}">
						<td th:text="${customer.customerName}"></td>
						<td th:text="${customer.customerEmail}"></td>
						<td th:text="${customer.customerPhone}"></td>
						<td th:text="${customer.customerCode}"></td>
						<td th:text="${customer.customerCreatedDate}"></td>
						<td><a th:href="@{/home/viewCustomer/customerEdit/{id}(id=${customer.customerId})}">Edit</a></td>
						<td><a th:href="@{/home/viewCustomer/customerDelete/{id}(id=${customer.customerId})}">Delete</a></td>
					</tr>
                    </tbody>
                  </table>
                </div>
                <br>
				  <a href="/home" class="btn btn-success" type="button">Home</a>
              </div>

     <script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/jquery.dataTables.js"></script>
	<script src="js/dataTables.bootstrap4.js"></script>
	<script src="js/datatables-demo.js"></script>
	<script src="js/rc-pos.min.js"></script>
    </body>
  </html>
 